// Specific CSS for your home-page

.box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.top-of-page {
  display: block;
  margin-left: 20px;
}

.bakers {
  display: block;
  margin-left: 36px;
  padding-left: 80px;
}
