<h1>Bakers</h1>

<div class = "container">
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <div class = "card-profiles">
    <div class="card-image">
      <div class="card-info">
        <h2>Baker Name</h2>
        <%# <p>Winner of GBBO</p> %>
      </div>
        <%# place tags here %>
    </div>
    <div>
      <ul>
      <li><button type="button">Tag</button></li>
      <li><button type="button">Tag</button></li>
      </ul>
    </div>
 </div>

 <div class = "card-profiles">
    <div class="card-image">
      <div class="card-info">
        <h2>Baker Name</h2>
        <%# <p>Winner of GBBO</p> %>
      </div>
        <%# place tags here %>
    </div>
    <div>
      <ul>
      <li><button type="button">Tag</button></li>
      <li><button type="button">Tag</button></li>
      </ul>
    </div>
 </div>

 <div class = "card-profiles">
    <div class="card-image">
      <div class="card-info">
        <h2>Baker Name</h2>
        <%# <p>Winner of GBBO</p> %>
      </div>
        <%# place tags here %>
    </div>
    <div>
      <ul>
      <li><button type="button">Tag</button></li>
      <li><button type="button">Tag</button></li>
      </ul>
    </div>
 </div>
  <!-- Next and previous buttons -->
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>


<ul>
  <% @bakers.each do |baker| %>
    <li><%= baker.first_name %></li>
  <% end %>
</ul>
