<h1>Hire a Star Baker</h1>
<p style= "line-height:2em">Do you love the Great British Bake Off?
   Have you always wanted to try some of the delicious bakes from the tent?
   Well, now you can with Hire a Star Baker. Find you favorite baker, or
   the baker closest to you and book them to make one of their delicious bakes</p>
<ul>
  <% @bakers.each do |baker| %>
    <li><%= baker.first_name %></li>
  <% end %>
</ul>
