.card-cake {
  height: 340px;
  padding: 1.5rem;
  display: flex;
  flex-grow: 5;
  display:grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-gap: 16px;
  background-color:white;
  width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  text-decoration: none !important;
  text-align: center;
}

ul {
  list-style-type: none;
}
