.navbar-lewagon {
  // justify-content: space-between;
  background: white;
  width:100vh;
  height:70px;
  position:fixed;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

ul.nav-item {
  margin-right:20px;
  float:right;
  height:100%;
  line-height:45px;
  position: relative;
}

.navbar-align {
  display: flex;
}
.nav-link{
  font-size: 18px;
}
.nav-link:hover {
  transform: scale(1.5);
}
