<div class="container" style="padding: 200px;">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <p>Hello <%= @resource.email %>!</p>

      <p>We're contacting you to notify you that your password has been changed.</p>
    </div>
  </div>
</div>
